{% extends "::base.html.twig" %}

{% block body %}
    <ul>
        <li>
            <a href="{{ path('velikan_tube_crawler_tube_index') }}">Tubes</a>
        </li>
        <li>
            <a href="{{ path('velikan_tube_crawler_video_index') }}">Videos</a>
        </li>
    </ul>
{% endblock %}
